<link rel="stylesheet" href="<%=assetPath('css/home.css')%>">
<div class="main-container">
    
    <section id="feed-posts">
        <%if(locals.user){%>
            
                <h1>Create Post</h1>
                <form action="/posts/create" method="POST" id="new-post-form">
                    <textarea name="content" id="" cols="30" rows="3" required></textarea>
                    <input type="submit" value="submit">
                </form>
            
        <%}%>
        <%-include ('_posts')%>
    </section>  
    
    
    <section id="all-users">
        <div>
            <h1>Users : </h1>
            <%if(locals.user){%>
                <%for(u of users){%>
                    <p>
                        <a href="/users/profile/<%=u._id%>"><%=u.name%></a>
                    </p>
                    
                <%}%>
            <%}%>
        </div>

        <div>
            <%if(locals.user){%>
                <h1>Friends</h1>
                <%friends.forEach(friend => {%>
                    <p><%=friend%></p>    
                <%})%>
                <button id="chat-button">Chat!!</button>
            <%}%>
        </div>
        
    </section>
    
    <div id="chat-box" hidden>
        <div id="close-chat-box"><i class="far fa-window-close"></i></div>
        <div id="chat">
        </div>
        
        <form action="">
            <input type="text" placeholder="message" id="message" style="border-radius: 4px; max-width:100px">
            <button id="message-submit">send</button>
        </form>
    </div>

   <script src="<%= assetPath('js/home_posts.js')%>"></script>
   <script src="https://cdn.socket.io/4.1.2/socket.io.min.js" integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg" crossorigin="anonymous"></script>

   <script src="<%= assetPath('js/chat_engine.js')%>"></script>
    <script>
        $('#chat-button').on('click', function(){
            
            $('#chat-box').attr("hidden",false)
        })
        $('#close-chat-box').on('click', function(){
            $('#chat-box').attr("hidden",true)
        })
        <%if(locals.user){%>
            new ChatEngine('chat-box', "<%=locals.user.email%>" )
        <%}%>
        
    </script>
    
    
</div>

