<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3452448514.js" crossorigin="anonymous"></script>
    <title>Todo List</title>
</head>
<body>
    
        <div class="heading">
            <h1><i class="fas fa-list"></i>&nbsp;TODO LIST APP</h1>
        </div>
    
    <form action="/add" method="post">
        <div class="wrapper">
            <div class="input">
                <label for="description" class="bold" >Task</label>
                <br>
                <input type="text" placeholder="what is your task?" name="taskName">
            </div>
            <div class="input">
                <label for="category" class="bold">Select Category</label>
                <br>
                <select name="category" id="category">
                    <%categories.forEach(category=>{%>
                        <option value="<%=category%>"><%=category%></option>
                    <%})%>    
                </select>
            </div>
            <div>
                <label class="bold">Due date</label>
                <br>
                <input type="date" name="dueDate">
            </div>
            <div>
                <br>
                <button type="submit">Add Task <i class="fas fa-plus"></i></button>
            </div>
        </div>   
    </form>

    <div class="heading">
        <h1>YOUR TASKS</h1>
    </div>

    <div class="cover">
        <form action="/delete" method="post" >
            <div class="task">

                <div>
                    <p class="bold">Select</p>
                </div>
                <div>
                <p class="bold">Task Name</p>
                </div>
                <div>
                <p class="bold">Category</p>
                </div>
                <div>
                <p class="bold">Due Date</p>
                </div>
                <%tasksList.forEach(task=>{%>
                    <div>
                        <input type="checkbox" name="_id" value="<%=task._id%>">
                    </div>
                    <div>
                        <%=task.taskName%>
                    </div>
                    <div>
                        <%=task.category%>
                    </div>
                    <div>
                        <%=task.dueDate%>
                    </div>
                <%})%>
                <div>
                    <label class="bold">Delete</label>
                    <br>
                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
        </form>
    </div>
    
</body>
</html>