<div>
    <link rel="stylesheet" href="<%= assetPath('css/users-profile.css')%>">


<%if(profile_user.id == locals.user.id){%>
    <%if(profilePic){%>
        <img src="/images/<%=profilePic%>" alt="profilePic" id="profile-pic">
    <%}%>
    
    <h1>Update your profile</h1>
    
    <form action="/users/profile/update" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="name.." value="<%=profile_user.name%>" required>
        <input type="email" name="email" required placeholder="email...">
        <input type="file" name="avatar" placeholder="upload profile pic" onchange="handleUpload()" />
        <!-- <img src="" alt="" id="display-image-preview"> -->
        <input type="submit">
    </form>
<%}else{%>
    <p><%=profile_user.name%></p>
    <p><%=profile_user.email%></p>
    <%if(friendShipId){%>
        <button id="toggle-friend">disconnect</button>
    <%}else{%>
        <button id="toggle-friend">connect</button>
    <%}%>
    
<%}%>
</div>
<!-- <script>
    function handleUpload(event){
        let reader = new FileReader()
        reader.onload=function(){
            var output = document.getElementById('display-image-preview');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script> -->
<script>
    var fId = "<%=friendShipId%>" 
    let id = "<%=profile_user.id%>"
    $('#toggle-friend').on('click',function(){
        console.log('toggle-friend clicked');
        let content =  $('#toggle-friend').html()
        let data;
        if(content === "connect"){
            data = {     
                profileId: id.toString()
            }    
        }else{
            data = {
                friendShipId: fId,
                profileId: id.toString()
            }
        }

        $.ajax({
            method: 'POST',
            url: '/users/toggle-friend',
            data,
            success: function(data){
                if(data.status === 'success'){
                    fId = data.friendShipId ? data.friendShipId : null
                    if(content === 'connect'){
                        $('#toggle-friend').html('disconnect')
                    }else{
                        $('#toggle-friend').html('connect')
                    }
                }
            },
            error: function(xhr,errType){
                console.log(xhr);
            }
        })
    })
</script>